(
cpulimit:       1200,
inputs:         ["video_intro/sane_hermit_intro.mp4",
                 "raw/MVI_0000.mp4"],
transpose:      None,
scale:          (1280,720),
loudnorm:       true,
video_quality:  Medium,
video_fps:      (30000,1001),
video_codec:    Vp9,
audio_quality:  Medium,
audio_codec:    Opus,
strip_metadata: true,
title:          "My Video",
container:      Webm
)
