(
cpulimit:       1200,
input:          "/z/social/other_videos/scott.mp4",
transpose:      Some(2),
scale:          (568,320),
loudnorm:       true,
video_quality:  Medium,
video_fps:      (24,1),
video_codec:    Vp9,
audio_quality:  Medium,
audio_codec:    Opus,
strip_metadata: true,
title:          "Scott Adams on Victimhood",
container:      Webm
)
